<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_6s3O4CTREeaI0MXW0c-ncg" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;// just a test to commit&#xA;&#xA;in event ok&#xA;in event again&#xA;in event done" name="automat">
    <regions xmi:id="_6s65QyTREeaI0MXW0c-ncg" name="main region">
      <vertices xsi:type="sgraph:FinalState" xmi:id="_KvAnYCTTEeaI0MXW0c-ncg" incomingTransitions="_3ER5cCTjEea8jJxTy0mRmQ"/>
      <vertices xsi:type="sgraph:State" xmi:id="_-bNAgCTfEea8jJxTy0mRmQ" specification="" name="Go to coffee machine">
        <regions xmi:id="_-bSgECTfEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_XKST8CThEea8jJxTy0mRmQ" name="User presence" incomingTransitions="__si3ICTgEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_aNUAECThEea8jJxTy0mRmQ" specification="ok" target="_X4Nw8CThEea8jJxTy0mRmQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_UyjdACTgEea8jJxTy0mRmQ" name="Select coffee type and sugar amount">
        <regions xmi:id="_UyoVgCTgEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_X4Nw8CThEea8jJxTy0mRmQ" name="Coffee type" incomingTransitions="_aNUAECThEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_VPD2ACTkEea8jJxTy0mRmQ" specification="ok" target="_RnGQ0CTkEea8jJxTy0mRmQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_RnGQ0CTkEea8jJxTy0mRmQ" name="Sugar" incomingTransitions="_VPD2ACTkEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_M1DwECTiEea8jJxTy0mRmQ" specification="ok" target="_LEhmkCTiEea8jJxTy0mRmQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_biDa4CTgEea8jJxTy0mRmQ" name="Choose packaging type">
        <regions xmi:id="_biF3ICTgEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_LEhmkCTiEea8jJxTy0mRmQ" name="Package" incomingTransitions="_M1DwECTiEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_b_yYYCTjEea8jJxTy0mRmQ" specification="ok" target="_R33ioCTiEea8jJxTy0mRmQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ridjcCTgEea8jJxTy0mRmQ" name="Authenticate for payment">
        <regions xmi:id="_rifYoSTgEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_R33ioCTiEea8jJxTy0mRmQ" name="Facial Identification" incomingTransitions="_b_yYYCTjEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_emPdQCTjEea8jJxTy0mRmQ" specification="ok" target="_SeA8oCTiEea8jJxTy0mRmQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_v7YEcCTgEea8jJxTy0mRmQ" name="Brew the selected order">
        <regions xmi:id="_v7Z5oSTgEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_SeA8oCTiEea8jJxTy0mRmQ" name="Brewing" incomingTransitions="_emPdQCTjEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_i6ikACTjEea8jJxTy0mRmQ" specification="ok" target="_gnXngCTjEea8jJxTy0mRmQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1iHDcCTgEea8jJxTy0mRmQ" name="Deliver the coffee cup">
        <regions xmi:id="_1iKGwCTgEea8jJxTy0mRmQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_gnXngCTjEea8jJxTy0mRmQ" name="Pick up" incomingTransitions="_i6ikACTjEea8jJxTy0mRmQ">
            <outgoingTransitions xmi:id="_3ER5cCTjEea8jJxTy0mRmQ" specification="done" target="_KvAnYCTTEeaI0MXW0c-ncg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_6s_KsSTREeaI0MXW0c-ncg">
        <outgoingTransitions xmi:id="__si3ICTgEea8jJxTy0mRmQ" specification="" target="_XKST8CThEea8jJxTy0mRmQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_6s65QSTREeaI0MXW0c-ncg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_6s3O4CTREeaI0MXW0c-ncg" measurementUnit="Pixel">
    <children xmi:id="_6s65RCTREeaI0MXW0c-ncg" type="Region" element="_6s65QyTREeaI0MXW0c-ncg">
      <children xsi:type="notation:DecorationNode" xmi:id="_6s8HYCTREeaI0MXW0c-ncg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6s8HYSTREeaI0MXW0c-ncg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6s8HYiTREeaI0MXW0c-ncg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6s9VgCTREeaI0MXW0c-ncg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xsi:type="notation:Shape" xmi:id="_KvIjMCTTEeaI0MXW0c-ncg" type="FinalState" element="_KvAnYCTTEeaI0MXW0c-ncg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KvIjMSTTEeaI0MXW0c-ncg" x="61" y="656" width="15" height="15"/>
        </children>
        <children xmi:id="_-bUVQCTfEea8jJxTy0mRmQ" type="State" element="_-bNAgCTfEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_-bVjYCTfEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-bVjYSTfEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-bWKcCTfEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-bWKcSTfEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-bWKciTfEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-bWKcyTfEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-bWxgCTfEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_0uOS8CThEea8jJxTy0mRmQ" type="Region" element="_-bSgECTfEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_0uOS8SThEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_0uOS8iThEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_0uO6ACThEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_0uO6ASThEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_0uO6AiThEea8jJxTy0mRmQ" type="State" element="_XKST8CThEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_0uO6AyThEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_0uO6BCThEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_0uO6BSThEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_0uO6BiThEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_0uO6ByThEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0uO6CCThEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_0uO6CSThEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_0uO6CiThEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_0uO6CyThEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0uO6DCThEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0uO6DSThEea8jJxTy0mRmQ" x="81" y="-1"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0uO6DiThEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_0uO6DyThEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0uO6ECThEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-bUVQSTfEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-bU8UCTfEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-bXYkCTfEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-bU8USTfEea8jJxTy0mRmQ" x="1" y="58" width="258" height="196"/>
        </children>
        <children xmi:id="_UypjoCTgEea8jJxTy0mRmQ" type="State" element="_UyjdACTgEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_UyqxwCTgEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_UyqxwSTgEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_UyrY0CTgEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_UyrY0STgEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_UyrY0iTgEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UyrY0yTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Uyr_4CTgEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_cVqMoCThEea8jJxTy0mRmQ" type="Region" element="_UyoVgCTgEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_cVqMoSThEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_cVqMoiThEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_cVqMoyThEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_cVqMpCThEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_cVqMpSThEea8jJxTy0mRmQ" type="State" element="_X4Nw8CThEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_cVqMpiThEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cVqMpyThEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_cVqMqCThEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cVqMqSThEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_cVqMqiThEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cVqMqyThEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_cVqMrCThEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cVqMrSThEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_cVqMriThEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cVqMryThEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cVqMsCThEea8jJxTy0mRmQ" x="33" y="-23"/>
                </children>
                <children xmi:id="_RnMXcCTkEea8jJxTy0mRmQ" type="State" element="_RnGQ0CTkEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_RnMXdCTkEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_RnMXdSTkEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_RnMXdiTkEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RnMXdyTkEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_RnMXeCTkEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RnMXeSTkEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RnMXeiTkEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_RnMXcSTkEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_RnMXciTkEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RnMXeyTkEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RnMXcyTkEea8jJxTy0mRmQ" x="33" y="88" width="90"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cVqMsSThEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cVqMsiThEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cVqMsyThEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_UyqKsCTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_UyqKsSTgEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Uysm8CTgEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UyqKsiTgEea8jJxTy0mRmQ" x="289" y="60" width="276" height="254"/>
        </children>
        <children xmi:id="_biI6cCTgEea8jJxTy0mRmQ" type="State" element="_biDa4CTgEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_biJhgCTgEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_biJhgSTgEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_biKIkCTgEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_biKIkSTgEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_biKIkiTgEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_biKIkyTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_biKvoCTgEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_biPBECTgEea8jJxTy0mRmQ" type="Region" element="_biF3ICTgEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_biPoICTgEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_biPoISTgEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_biPoIiTgEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_biQPMCTgEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_LEkp4CTiEea8jJxTy0mRmQ" type="State" element="_LEhmkCTiEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_LElQ8CTiEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_LElQ8STiEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_LElQ8iTiEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_LEl4ACTiEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_LEl4ASTiEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LEl4AiTiEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_LEmfECTiEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_LEkp4STiEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_LEkp4iTiEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LEmfESTiEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LEkp4yTiEea8jJxTy0mRmQ" x="138" y="3"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_biQPMSTgEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_biPBESTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_biPBEiTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_biI6cSTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_biI6ciTgEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_biKvoSTgEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_biI6cyTgEea8jJxTy0mRmQ" x="628" y="60" width="351" height="193"/>
        </children>
        <children xmi:id="_rigmwCTgEea8jJxTy0mRmQ" type="State" element="_ridjcCTgEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_rihN0CTgEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rihN0STgEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_rihN0iTgEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rihN0yTgEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_rih04CTgEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rih04STgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_rih04iTgEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_rimGUCTgEea8jJxTy0mRmQ" type="Region" element="_rifYoSTgEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_rimtYCTgEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_rimtYSTgEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_rimtYiTgEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_rimtYyTgEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_R35-4CTiEea8jJxTy0mRmQ" type="State" element="_R33ioCTiEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_R36l8CTiEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_R36l8STiEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_R36l8iTiEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_R37NACTiEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_R37NASTiEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R37NAiTiEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_R370ECTiEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_R35-4STiEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_R35-4iTiEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_R370ESTiEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R35-4yTiEea8jJxTy0mRmQ" x="150" y="31"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rimtZCTgEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rimGUSTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rimGUiTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rigmwSTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_rigmwiTgEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_riib8CTgEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rigmwyTgEea8jJxTy0mRmQ" x="628" y="320" width="424" height="245"/>
        </children>
        <children xmi:id="_v7bHwCTgEea8jJxTy0mRmQ" type="State" element="_v7YEcCTgEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_v7bu0CTgEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_v7bu0STgEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_v7cV4CTgEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v7cV4STgEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_v7cV4iTgEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v7cV4yTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_v7c88CTgEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_r7Ae8CTjEea8jJxTy0mRmQ" type="Region" element="_v7Z5oSTgEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_r7Ae8STjEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_r7Ae8iTjEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_r7Ae8yTjEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_r7Ae9CTjEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_r7Ae9STjEea8jJxTy0mRmQ" type="State" element="_SeA8oCTiEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_r7Ae9iTjEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_r7Ae9yTjEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_r7Ae-CTjEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_r7Ae-STjEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_r7Ae-iTjEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r7Ae-yTjEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_r7Ae_CTjEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_r7Ae_STjEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_r7Ae_iTjEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r7Ae_yTjEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r7AfACTjEea8jJxTy0mRmQ" x="117" y="19"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r7AfASTjEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_r7AfAiTjEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r7AfAyTjEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_v7bHwSTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_v7bHwiTgEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_v7c88STgEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v7bHwyTgEea8jJxTy0mRmQ" x="289" y="381" width="282" height="210"/>
        </children>
        <children xmi:id="_1iKt0CTgEea8jJxTy0mRmQ" type="State" element="_1iHDcCTgEea8jJxTy0mRmQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_1iL78CTgEea8jJxTy0mRmQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1iL78STgEea8jJxTy0mRmQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1iL78iTgEea8jJxTy0mRmQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1iL78yTgEea8jJxTy0mRmQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1iL79CTgEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iL79STgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1iMjACTgEea8jJxTy0mRmQ" type="StateFigureCompartment">
            <children xmi:id="_1iQ0cCTgEea8jJxTy0mRmQ" type="Region" element="_1iKGwCTgEea8jJxTy0mRmQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_1iRbgCTgEea8jJxTy0mRmQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1iRbgSTgEea8jJxTy0mRmQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1iSCkCTgEea8jJxTy0mRmQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1iSCkSTgEea8jJxTy0mRmQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_gnduIiTjEea8jJxTy0mRmQ" type="State" element="_gnXngCTjEea8jJxTy0mRmQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gnduJiTjEea8jJxTy0mRmQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gnduJyTjEea8jJxTy0mRmQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gnduKCTjEea8jJxTy0mRmQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gnduKSTjEea8jJxTy0mRmQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gnduKiTjEea8jJxTy0mRmQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnduKyTjEea8jJxTy0mRmQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gnduLCTjEea8jJxTy0mRmQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gnduIyTjEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gnduJCTjEea8jJxTy0mRmQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gnduLSTjEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gnduJSTjEea8jJxTy0mRmQ" x="87" y="20"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iSCkiTgEea8jJxTy0mRmQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1iQ0cSTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iQ0ciTgEea8jJxTy0mRmQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1iLU4CTgEea8jJxTy0mRmQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1iLU4STgEea8jJxTy0mRmQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1iNKECTgEea8jJxTy0mRmQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1iLU4iTgEea8jJxTy0mRmQ" x="19" y="381" width="222" height="210"/>
        </children>
        <children xmi:id="_6s_xwCTREeaI0MXW0c-ncg" type="Entry" element="_6s_KsSTREeaI0MXW0c-ncg">
          <children xmi:id="_6tAY0CTREeaI0MXW0c-ncg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_6tAY0yTREeaI0MXW0c-ncg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6tAY1CTREeaI0MXW0c-ncg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_6tAY1STREeaI0MXW0c-ncg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6tAY0STREeaI0MXW0c-ncg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6tAY0iTREeaI0MXW0c-ncg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6s_xwSTREeaI0MXW0c-ncg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_6s_xwiTREeaI0MXW0c-ncg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6tA_4CTREeaI0MXW0c-ncg" x="37" y="8" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6s9VgSTREeaI0MXW0c-ncg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_6s65RSTREeaI0MXW0c-ncg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6s_KsCTREeaI0MXW0c-ncg" x="240" y="-156" width="1074" height="710"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_6tHtkCTREeaI0MXW0c-ncg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_6tHtkiTREeaI0MXW0c-ncg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6tHtkyTREeaI0MXW0c-ncg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6tHtlCTREeaI0MXW0c-ncg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6tHtlSTREeaI0MXW0c-ncg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6tHtliTREeaI0MXW0c-ncg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6tIUoCTREeaI0MXW0c-ncg" x="12" y="-122" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_6s65QiTREeaI0MXW0c-ncg"/>
    <edges xmi:id="__sl6cCTgEea8jJxTy0mRmQ" type="Transition" element="__si3ICTgEea8jJxTy0mRmQ" source="_6s_xwCTREeaI0MXW0c-ncg" target="_0uO6AiThEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__smhgyTgEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__smhhCTgEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__snIkCTgEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__smhgCTgEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__smhgiTgEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__smhgSTgEea8jJxTy0mRmQ" points="[1, 7, -11, -44]$[11, 51, -1, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__sqL4CTgEea8jJxTy0mRmQ" id="(0.09859154929577464,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_aNXDYCThEea8jJxTy0mRmQ" type="Transition" element="_aNUAECThEea8jJxTy0mRmQ" source="_0uO6AiThEea8jJxTy0mRmQ" target="_cVqMpSThEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_aNXqcSThEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aNXqciThEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aNYRgCThEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aNXDYSThEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aNXqcCThEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aNXDYiThEea8jJxTy0mRmQ" points="[14, 1, -157, -10]$[173, 37, 2, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aNbU0CThEea8jJxTy0mRmQ" id="(0.8028169014084507,0.39622641509433965)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aNbU0SThEea8jJxTy0mRmQ" id="(0.22535211267605634,0.4716981132075472)"/>
    </edges>
    <edges xmi:id="_M1HacCTiEea8jJxTy0mRmQ" type="Transition" element="_M1DwECTiEea8jJxTy0mRmQ" source="_RnMXcCTkEea8jJxTy0mRmQ" target="_LEkp4CTiEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_M1IBgSTiEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M1IBgiTiEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M1IBgyTiEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M1HacSTiEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M1IBgCTiEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M1HaciTiEea8jJxTy0mRmQ" points="[0, 0, -335, -8]$[336, 26, 1, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M1M6ACTiEea8jJxTy0mRmQ" id="(0.9811320754716981,0.24528301886792453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M1M6ASTiEea8jJxTy0mRmQ" id="(0.08450704225352113,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_b_4fACTjEea8jJxTy0mRmQ" type="Transition" element="_b_yYYCTjEea8jJxTy0mRmQ" source="_LEkp4CTiEea8jJxTy0mRmQ" target="_R35-4CTiEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_b_4fBCTjEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_b_4fBSTjEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_b_4fBiTjEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_b_4fASTjEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_b_4fAyTjEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_b_4fAiTjEea8jJxTy0mRmQ" points="[3, 3, 2, -228]$[3, 231, 2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b_4fByTjEea8jJxTy0mRmQ" id="(0.4647887323943662,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b_4fCCTjEea8jJxTy0mRmQ" id="(0.29577464788732394,0.0)"/>
    </edges>
    <edges xmi:id="_emVj4CTjEea8jJxTy0mRmQ" type="Transition" element="_emPdQCTjEea8jJxTy0mRmQ" source="_R35-4CTiEea8jJxTy0mRmQ" target="_r7Ae9STjEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_emVj5CTjEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_emVj5STjEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_emVj5iTjEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_emVj4STjEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_emVj4yTjEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_emVj4iTjEea8jJxTy0mRmQ" points="[0, 3, 262, 4]$[-258, 2, 4, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_embqgCTjEea8jJxTy0mRmQ" id="(0.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_embqgSTjEea8jJxTy0mRmQ" id="(0.9436619718309859,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_i6oqoCTjEea8jJxTy0mRmQ" type="Transition" element="_i6ikACTjEea8jJxTy0mRmQ" source="_r7Ae9STjEea8jJxTy0mRmQ" target="_gnduIiTjEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_i6oqpCTjEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i6oqpSTjEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i6oqpiTjEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i6oqoSTjEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i6oqoyTjEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i6oqoiTjEea8jJxTy0mRmQ" points="[0, 5, 235, 3]$[-234, 4, 1, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i6oqpyTjEea8jJxTy0mRmQ" id="(0.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i6oqqCTjEea8jJxTy0mRmQ" id="(0.9859154929577465,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_3EYAECTjEea8jJxTy0mRmQ" type="Transition" element="_3ER5cCTjEea8jJxTy0mRmQ" source="_gnduIiTjEea8jJxTy0mRmQ" target="_KvIjMCTTEeaI0MXW0c-ncg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3EYAFCTjEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3EYAFSTjEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3EYAFiTjEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3EYAESTjEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3EYAEyTjEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3EYAEiTjEea8jJxTy0mRmQ" points="[2, 19, 67, -149]$[-62, 161, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3EYAFyTjEea8jJxTy0mRmQ" id="(0.2222222222222222,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_VPFrMCTkEea8jJxTy0mRmQ" type="Transition" element="_VPD2ACTkEea8jJxTy0mRmQ" source="_cVqMpSThEea8jJxTy0mRmQ" target="_RnMXcCTkEea8jJxTy0mRmQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_VPFrNCTkEea8jJxTy0mRmQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VPFrNSTkEea8jJxTy0mRmQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VPFrNiTkEea8jJxTy0mRmQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VPFrMSTkEea8jJxTy0mRmQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VPFrMyTkEea8jJxTy0mRmQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VPFrMiTkEea8jJxTy0mRmQ" points="[2, 2, 2, -63]$[2, 65, 2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VPIHcCTkEea8jJxTy0mRmQ" id="(0.24444444444444444,0.9622641509433962)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VPIHcSTkEea8jJxTy0mRmQ" id="(0.30985915492957744,0.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
